@font-face {
    font-family: "Lato";
    src:
      url(./fonts/Lato/Lato-Regular.ttf);
  }

* {
    font-family: Lato;
}

body {
    margin: 0;
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}


.header {
    background-color: white;
    padding: 10px 25px 10px 25px;
    /* box-shadow: 0 3px 5px 0 red; */
    /* box-sizing: border-box; */
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.sidebar {
    display: grid;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    background-color:rgb(36, 146, 205);
    color: white;
    gap: 20px;
    grid-row: 1 / 3;
}

.logo-text {
    font-size: 2rem;
    line-height: 2rem;
}

.logo-icon {
    height: 2rem;
    width: 2rem;
    margin-right: 10px;
}


a {
    text-decoration: none;
    color: white;
}

.communities {
    margin-bottom: 40px;
}

.main-content {
    background-color: #E2E8F0;
}

.bell {
    margin-right: 20px;
}

.avatar {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.avatar-small {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.searchField {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    width: 75%;
    /* height: 100%; */
    border: none;
}

.header a {
    background-color: rgb(36, 146, 205);
    border-radius: 25px;
    padding: 8px;
    text-align: center;
}

.header-left, .header-right {
    display: grid;
    grid-template-rows: 1fr 2fr;
    /* gap: 20px; */
}

.header-left {
    padding-top: 10px;
}

.welcome {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    /* border: 2px solid red; */
}

.welcome > img {
    margin-right: 20px;
}

.hi > div {
    font-size: 0.85rem;
}
.welcome-name {
    font-size: 1.5rem;
}

.account {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    grid-auto-flow: column;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-items: center;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-right: 35px;
}

.projects {
    grid-row: 1 / 3;
    margin-left: 25px;
    margin-right: 30px;
    /* border: 2px solid red; */
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    border-radius: 10px;
    border-left: 7px solid orange;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    box-shadow: 2px 2px 5px #bbc0c6;
}

h4 {
    margin-top: 0;
}

.card-icons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row: 3;
    grid-column: 2;
    text-align: end;
    /* border: 2px solid red; */
    align-items: end;
}

h3 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.card-text {
    grid-column: 1 / 3;
}

.card-text, .announcement > div, .trending-content > div > div {
    color: #5e6064;
}

.announcement-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.announcement {
    padding: 20px;
}
.notLast {
    border-bottom: 1px solid grey;
}

.announcement-content, .trending-content {
    background-color: white;
    padding: 5%;
    box-shadow: 2px 2px 5px #bbc0c6;
    border-radius: 10px;
}

.trending-content {
    display: grid;
    gap: 10px;
    padding: 7%;
}

.article {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    /* border: 2px solid red; */
    align-items: end;
}

.article > p {
    grid-column: 2;
    margin-bottom: 0;
}

.article > div {
    grid-column: 2;
}

.article > img {
    grid-row: 1 / 3;
}